<div class="modal-content">
    <div class="modal-header photerloo-modal-danger text-center">
      <h4 class="modal-title w-100 font-weight-bold">Burn NFT</h4>
    </div>
  
    <div class="modal-body mx-3">
       
      <p>Please confirm you want to burn/delete this NFT, this cannot be undone.</p>
    </div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="handleDeleteClick()" mdbWavesEffect>Burn</button>
      <button type="button" mdbBtn color="primary" class="relative waves-light" aria-label="Close" (click)="modalRef.hide()" mdbWavesEffect>Cancel</button>
    </div>
  </div>