
<mdb-card>
    <!--Card image-->
    <mdb-card-img src="{{ asset.getImageURL() }}" alt="Card image cap"></mdb-card-img>
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>Card Title</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text>
        <p>Id={{ asset.id }}</p>
        <p>tokenURI={{ asset.tokenURI }}</p>
        <p>price={{ asset.price }}</p>
        <p>tokenURIData={{ asset.tokenURIData }}</p>
        <p>errorMessager={{ asset.errorMessage }}</p>
      </mdb-card-text>
  
      <a href="#" mdbBtn color="primary" mdbWavesEffect>Buy</a>
    </mdb-card-body>
  </mdb-card>