
<mdb-card>    
    <div class="view">
      <mdb-card-img *ngIf="imageURL" src="{{ imageURL }}" alt="Card image cap"></mdb-card-img>
      <mdb-card-img *ngIf="!imageURL" src="/assets/broken-image.png" alt="Card image cap"></mdb-card-img>
      <!-- img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid" alt="" -->
      <div *ngIf="showSpinny || asset.status === assetStatusEnum.PENDING || asset.licenceStatus === licenceStatusEnum.PENDING" class="mask flex-center rgba-black-light">
        <div class="spinner-border text-white" style="width: 5rem; height: 5rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!showSpinny && asset.status === assetStatusEnum.ERROR" class="mask flex-center rgba-black-light">
        <mdb-icon fas icon="exclamation-circle" class="red-text" size="5x"></mdb-icon>
      </div>
      
    </div>

    <div *ngIf="showMiningMessages && asset.status === assetStatusEnum.PENDING" class="alert alert-success text-center mb-0" role="alert">
      Transaction pending.
    </div>
    <div *ngIf="showMiningMessages && asset.status === assetStatusEnum.MINED" class="alert alert-success text-center mb-0" role="alert">
      Transaction complete.
    </div>

    <div *ngIf="showLicencingMessages && asset.licenceStatus === licenceStatusEnum.PENDING" class="alert alert-success text-center mb-0" role="alert">
      Licence purchase pending.
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger text-center mb-0" role="alert">
      {{ errorMessage }} 
    </div>
    <div *ngIf="asset.errorMessage" class="alert alert-danger text-center mb-0" role="alert">
      {{ asset.errorMessage }} 
    </div>
    <!--Card content-->
    <mdb-card-body *ngIf="showDetails">
      <!--Title-->
      <mdb-card-title *ngIf="showDetails">
        <h4>{{ asset.name }}</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text *ngIf="showDetails">
        <p>{{ asset.status }}</p>
        <p>{{ asset.description }}</p>
        <p *ngIf="showOwner" class="mb-0"><strong>Owner: </strong>{{ asset.owner }}</p>
        <p *ngIf="showTokenId" class="mb-0"><strong>Token ID: </strong>{{ asset.id }}</p>
        <p *ngIf="showPrice" class="mb-0"><strong>Price: </strong>{{ asset.price }} ETH</p>
        <p *ngIf="showTokenURI" class="mb-0"><strong>Token URI: </strong>{{ asset.tokenURI }}</p>
        
        <div class="row justify-content-center">
          <button mdbBtn 
                  *ngIf="showBurnTransferButtons" 
                  type="button" 
                  color="primary" 
                  size="lg" 
                  (click)="burnClick.emit(asset)"
                  [disabled]="showMiningMessages && asset.status === assetStatusEnum.PENDING"
                  mdbWavesEffect>Burn
          </button>
          <button mdbBtn 
                  *ngIf="showBurnTransferButtons" 
                  type="button" 
                  color="primary" 
                  (click)="transferClick.emit(asset)"
                  size="lg" 
                  [disabled]="showMiningMessages && asset.status === assetStatusEnum.PENDING"
                  mdbWavesEffect>Transfer
          </button>
        </div>
        <button mdbBtn 
                *ngIf="buyButton && !(asset.licenceStatus === licenceStatusEnum.LICENCED)" 
                type="button" 
                color="primary"
                (click)="buyLicenceClick.emit(asset)" 
                size="lg" 
                class="mx-auto d-block" 
                [disabled]="errorMessage || asset.licenceStatus === licenceStatusEnum.PENDING" 
                mdbWavesEffect>Buy Licence ({{ asset.price }} ETH)
        </button>
        <button mdbBtn 
          *ngIf="buyButton && asset.licenceStatus === licenceStatusEnum.LICENCED" 
          type="button" 
          color="primary"
          (click)="buyLicenceClick.emit(asset)" 
          size="lg" 
          class="mx-auto d-block" 
          disabled
          mdbWavesEffect>Already licenced
        </button>

        <!-- TODO: Make this save as a file instead of opening in a new window-->
        <a href="{{asset.getAssetSrc()}}" target="_blank" download="photo.jpg">
          <button mdbBtn 
            *ngIf="showDownloadButton && asset.assetURI" 
            type="button" 
            color="primary"
            (click)="downloadClick.emit(asset)" 
            size="lg" 
            class="mx-auto d-block" 
            mdbWavesEffect>Download File
        </button>
        </a>

      </mdb-card-text>      
    </mdb-card-body>
  </mdb-card>