
<mdb-card>
    <!--Card image-->
    <mdb-card-img *ngIf="imageURL" src="{{ imageURL }}" alt="Card image cap"></mdb-card-img>
    <mdb-card-img *ngIf="!imageURL" src="/assets/broken-image.png" alt="Card image cap"></mdb-card-img>
    
    <!--Card content-->
    <mdb-card-body>
      <div *ngIf="errorMessage" class="alert alert-danger mt-2  text-center" role="alert">
        {{errorMessage }}
      </div>
      <!--Title-->
      <mdb-card-title>
        <h4>{{ asset.name }}</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text>
        <p>{{ asset.status }}</p>
        <p>{{ asset.description }}</p>
      </mdb-card-text>
      <button mdbBtn type="button" color="primary" size="lg" class="mx-auto d-block" [disabled]="errorMessage" mdbWavesEffect>Buy Licence ({{ asset.price }} ETH)</button>
    </mdb-card-body>
  </mdb-card>